@media screen and (max-width: 800px)
{
    .right {
        top: 75%;
        right: 20%;
    }
    .right a {
        font-size: 40px;
        opacity: 0.432;
        transform: rotate(0deg);
        filter: blur(2px);
    }
    .whoambri {
    top: 15%;
    left: 37%;
    }
    .whoambritext  {
        left: 17%;
        top: 35%;
    }
}
@media screen and (max-width:640px){
    .whoambri {
        top: 14%;
        left: 32%;
    }
    .whoambritext{
        left: 7%;
        font-size: 13px;
    }
    .whoh{
        font-size: 20px;
    }
    .whow span {
        font-size: 21px;
    }
}
@media screen and (max-width:640px){
    .whoambritext {
        width: 450px;

    }
    .whoambri {
        left: 35%;
    }
    .whoambri img {
        width: 70%;
    }
}
@media screen and (max-width:480px){
    .whoambritext{
        left: 20%;
        width: 300px;
    }
}
@media screen and (max-width:390px){
    .hant img {
        width: 50%;
        
    }
    .hant {
        top: 67%;
    }
    .whoambritext {
        left: 14%;
        top: 30%;
    }
    .right {
        top: 80%;
    }
    .right a{
        font-size: 32px;

    }
}
@media screen and (max-width:350px){
    .whoambritext{
        left: 7%;
    }
}
@media screen and (max-width:324px){
    .whoambritext {
        font-size: 11px;
        left: 2%;
    }
    .whoh {
        font-size: 18px;
    }
    .whoh span{
        font-size: 20px;
    }
    .right a {
        font-size: 30px;
    }
}
/* Iphone 7/6/6s */
@media screen and (max-width: 375px),
       screen and (max-height:667px)
       {
        .right{
            display: none;
        }
        .hant {
            top: 78%;
        }   
}