@media screen and (max-width: 800px)
{
    .right {
        top: 75%;
        right: 20%;
    }
    .right a {
        font-size: 40px;
        opacity: 0.432;
        transform: rotate(0deg);
        filter: blur(2px);
    }
    .whoambri {
    top: 15%;
    left: 37%;
    }
    .whoambritext  {
        left: 17%;
        top: 35%;
    }
}
@media screen and (max-width:640px){
    .whoambri {
        top: 14%;
        left: 32%;
    }
    .whoambritext{
        left: 7%;
        font-size: 13px;
    }
    .whoh{
        font-size: 20px;
    }
    .whow span {
        font-size: 21px;
    }
}
@media screen and (max-width:640px){
    .whoambritext {
        width: 450px;

    }
    .whoambri {
        left: 27%;
    }
    .whoambri img {
        width: 70%;
    }
}
@media screen and (max-width:480px){
    .whoambritext{
        left: 20%;
        width: 300px;
    }
    .socialleft {
        flex-direction:column;
        margin-left: 10px;
    }
    .socialleft a {
        margin-top: 5px;
        text-align: center;
        font-size: 13px;
    }
    .changelang {
        left: 70px;
    }
}
@media screen and (max-width:420px) {
    .logo a{
        font-size: 20px;
        top: 40px;
    }
    .changelang {
        flex-direction: column;
        top: 27.5px;
        left: 50px;
    }
    .changelang a {
        margin-top: 10px;
    }
}
@media screen and (max-width:390px){
    .hant img {
        width: 50%;
        
    }
    .hant {
        top: 67%;
    }
    .whoambritext {
        left: 14%;
        top: 30%;
    }
    .right {
        top: 80%;
    }
    .right a{
        font-size: 32px;

    }
}
@media screen and (max-width:350px){
    .whoambritext{
        left: 7%;
    }
}
@media screen and (max-width:324px){
    .whoambritext {
        font-size: 11px;
        left: 2%;
    }
    .whoh {
        font-size: 18px;
    }
    .whoh span{
        font-size: 20px;
    }
    .right a {
        font-size: 30px;
    }
}
/* Iphone 7/6/6s */
@media screen and (max-width: 375px),
       screen and (max-height:667px)
       {
        header{
            position: fixed;
            z-index: 2;
        }
        .geoa, .enga {
            font-size: 12px;
        }
        .right{
            display: none;
        }
        .hant {
            top: 85%;
        }   
        .btn-4 {
            z-index: 20000;
        }
        .whoambri {
            left: 30%;
        }
        .logo {
            margin-top: 15%;
            width: 90px;
        }
        .line {
            width: 90%;
        }
        .hamburger-menu {
            top: 35px;
        }
        .hant img {
            display: none;
        }
        .whoambritext {
            left: 11%;
        }
        .navbar {
            width: 375px;
            right: -375px;;
            background-color: #0000008f;
        }
        .change {
            right: 0;
        }
        .aboutback {
            display: none;
        }
        .mythimg1, .mythimg {
            width: 150px;
        }
        .aboutimgback , .aboutimg{
            top: 70%;
        }
        .abouttxt {
            top: 25%;
            left: 24%;
        }
        .abouth span {
            font-size: 18px;
        }
        .abouth {
            font-size: 15px;
            width: 55%;
             text-align: center;
             width: 200px;
        }
        .aboutp {
            text-align: center;
            font-size: 12px;
            width: 200px;
        }
        .practicmen {
            flex-wrap: wrap;
        
        }

        .myBtnszr2 {
            top: 63%;
            left: 46%;
        }
        .myBtnsuk{
            top: 77%;
            left: 46%;
        }
        .myBtnskan{
            top: 84%;
            left: 33%;
        }
        .myBtnszr {
            top: 62%;
            left: 33%;
        }    
        .myBtndundul {
        top: 69%;
        left: 31%;
        }
        .myBtnmaj{
        top: 66%;
        right: 59%
        }
        .myBtntmxr {
        top: 57%;
        left: 25%;
        }
        .vid {
            width: 100%;
            height: 250px;
        }
        .myBtnsbck{    
        left: 40%;
        width: 8%; 
        top: 54%;
        }
        .myBtntric{    
        left: 23%;
        width: 22px;
        top: 61%;
        }
}       