/*     font-family: 'Raleway', sans-serif;
 */
 @import url("https://cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
 @import url("https://cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");

 body {
    background-color: #000;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    
}
#logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
 }
.logo{
  width: 120px;
}
/* Change Lang */
.changelang {
  position: absolute;
  top: 29px;
  display: flex;
  left:120px;
}
.geoa {
  margin-right: 10px;
  color: #fff;
  transition: 0.576s ease-in;
}

.enga {
  color: #fff;
  transition: 0.576s ease-in;

}
.active {
  color: #BC9354;
}
.geoa:hover , .enga:hover{
  font-size: 18px;
  transition: 0.576s ease-in;
}
/* Change Lang End */
/* Burg men */
.navbar {
    width: 300px;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.8s cubic-bezier(1,1,1,1);
    z-index: 29999;
}
.change {
    right: 0;
}
.hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 20px;
    right: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.8s;
    border-radius: 500px;
    transform: rotate(140deg);
}


.change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
    opacity: 0;
}
.change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);;
}




.nav-list{
    text-align: center;
}
.nav-item {
    list-style: none;
    margin: 25px;
}
.nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #BC9354;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 4px 0;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;

}
.nav-link::before,
.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #BC9354;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;  
}
.nav-link::after {
    bottom: 0;
    transform-origin: right;
}
.nav-link::before {
    top: 0;
    transform-origin: left;
}
.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);

}
.socialleft {
    position: absolute;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
}
.socialleft i {
    color: #fff;
    margin-left: 10px;
    transition: 0.547s ease-in;   
}
.socialleft i:hover {
    color: #BC9354;
    transition: 0.547s ease-in;
}

/* Section 1  */

.loadsec {
  max-width: 100vh;
  max-height: 100vh;
}
.whoambri {
  width: 190px;
  height: 400px;
  position: absolute;
  top: 17%;
  left: 10%;
}
.whoambritext {
  color: #fff;
  top: 30%;
  position: absolute;
  left: 24%;
  text-align: center;
  width: 500px;
}
.whoh {
  font-size: 25px;
  margin-bottom:15px;
}
.whoh span {
  color:#BC9354;
  font-size: 30px;
}
.whoambrip, .whoambrianatomy {
  margin-bottom: 10px;
}
.right {
  position: absolute;
  top: 40%;
  right: 60px;
}
.right a {
  color: #fff;
  font-size: 50px;
  transform: rotate(90deg);
  font-family:"Montserrat", sans-serif;
  cursor: default;
}
/* btn */
button {
  margin: 20px;
  width: 130px;
  height: 40px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-4 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #fff;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 50%;
  width: 2px;
}
.btn-4:after {
  width: 20%;
  height: 2px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #fff;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 50%;
}
.btn-4 span:after {
  width: 20%;
  height: 2px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}
.hant {
  position: absolute;
  top: 70%;
  opacity: 0.4;
  filter: blur(1px);
}
.hant img {
  width: 20%;
}


/* About Anatomy  */

.imgwraper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-35%,10%);
}
.anatomimg {
    display: flex;
    width: 55%;
}
/* .anatomyp {
  display: flex;
} */
.anatompone{
    color: #fff;
    line-height: 17px;
    position: relative;
    width: 30%;
    left: 7%;
    top: 90px;
    text-align: center;
    font-size: 14px;
    display: flex;
}
.anatomptwo {
    line-height: 17px;
    position: absolute;
    width: 40%;
    top: 149px;
    font-size: 14px;
    right: 10px;
    color: #fff;
    text-align: center;
}
/* Anatom Button */

.customs-btn {
    padding: 10px 25px;
    font-weight: 500;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    background: transparent;
    outline: none !important;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    top:90%;
    left:50%;
    transform: translate(-78%,-75%);
    display: inline-block;
  }
.btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-5 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-5:before,
  .btn-5:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #fff;
    transition: all 0.3s ease;
  }
  .btn-5:before {
    height: 50%;
    width: 2px;
  }
  .btn-5:after {
    width: 20%;
    height: 2px;
  }
  .btn-5:hover:before {
    height: 100%;
  }
  .btn-5:hover:after {
    width: 100%;
  }
  .btn-5 span:before,
  .btn-5 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #fff;
    transition: all 0.3s ease;
  }
  .btn-5 span:before {
    width: 2px;
    height: 50%;
  }
  .btn-5 span:after {
    width: 20%;
    height: 2px;
  }
  .btn-5 span:hover:before {
    height: 100%;
  }
  .btn-5 span:hover:after {
    width: 100%;
  }